* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.images {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: contents;
}
.images img {
  object-fit: cover;
  object-position: right;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: scroll-position;
}
#bg {
  width: 120%;
  height: 120%;
}
.images::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
  background: linear-gradient(to top, rgb(164, 111, 46), transparent);
  z-index: 10000;
}
#texth2 {
  top: 10vh;
  position: absolute;
  font-size: 7rem;
  color: rgba(26, 26, 26, 0.755);
}
.text {
  height: 200vh;
  width: 100vw;
  background-color: rgb(164, 111, 46);
}
